<footer class="bg-gray-800 text-gray-300">
    <p>
        Thank you for choosing our Toilet Code Manager app. 
        <br>
        We hope this innovative solution brings convenience and efficiency to your daily life. 
        <br>
        Should you have any questions or feedback, please don't hesitate to reach out to our dedicated support team.
        <br>  
        Enjoy hassle-free restroom visits with our app, and remember, we've got you covered – from flush to finish!
    </p>
    <mat-divider></mat-divider>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        Phone: +36/70-668-76-66
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
        Email: info@toiletapp.com
    </p>
    <p>
        Copyright © 2023 Toilet App Inc
    </p>
    
</footer>